@model DutchArtistsMasterpieces.ViewModels.HomeViewModel

<h2>@Model.Title</h2>
<br />
@foreach (var artist in Model.Artists)
{
    <div>
        <div>
            <img src="@artist.ImageThumbnailUrl" alt="">
            <div>
                <h3>@artist.BirthYear - @artist.DeathYear</h3>
                <h3>
                    @artist.Name
                </h3>
                <h4>
                    @artist.City
                </h4>
                <p>@artist.ShortDescription</p>
            </div>
        </div>
    </div>
}

